.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
body {
    background:black;
    background-size: cover;
}
h1{
    color: silver;
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
}
h2 {
    color:silver;
    font-style: oblique;
    font-size: 25px;    
}
h3{
    color: darkgoldenrod;
    font-size: 10px;
}
p{
    color: darkgoldenrod;
    font-style: oblique;
    font-size: 30px;
}
button{
    color:aliceblue ;
    font-style: oblique;
    font-size: 30px;
    background: transparent;
    border-style: solid;
    border-radius: 100px;
    border: 0px;
    margin: 0 auto;
    display: block; 
    transition: border 0.3s;
}
button:hover{
    border: 2px solid aliceblue;
}